@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300&family=Spline+Sans+Mono:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300&family=Spline+Sans+Mono:wght@500&family=Yanone+Kaffeesatz:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300&family=Spline+Sans+Mono:wght@500&family=Yanone+Kaffeesatz:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@1,300&family=Raleway:ital,wght@1,100&family=Spline+Sans+Mono:wght@500&family=Yanone+Kaffeesatz:wght@300&display=swap');

/* *{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    transition: 0.5s;
}
body{
    height: 100vh;
    width: 100%;
    position: relative;
}
 */
/* Cabezera */

header{
    background-color: #1FC4D4;
    opacity: 1;
    display: flex;
    width: 100%;
    height: 65px;
    text-align: center;
    margin-bottom: 0px;
}

.TituloNombre {
    margin: auto;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Spline Sans Mono', monospace;
    color: #ffffff;
}

.iconosEnlaces{
    display: inline;
    margin: 10px 10px;
    width: 35px;
    padding: 0;
}



/* Main */



.contenedor-description {
    background-color: #ffffff   ;
    height: 850px;
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.banner-proyectos {
    position: relative;
    width: 100%;
    height: 75px;
    background-color: #00ffcc;
    text-align: center;
}
.contenedor-description-texto{
    background-color: #29272a;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.contenedor-description-imagen{
    background-color: #0086b3;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}


.banner-texto {
    padding: 15px;
    margin: 0;
    color: #000d1a;
    font-size: 45px;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Spline Sans Mono', monospace;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

.contenedor-menu{
    
    position: flex;
    width: 100%;
    height: 750px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    
}

.principal{
    position: relative;
    height: 750px;
    width: 100%;
}

.empty{
    background-color: #343434;
    
    
}

/* .principal-uno:hover{
    transition: 2s;
    background-color: skyblue;
} */
    /* .principal-uno-texto{
        font-size: 40px;
        position: relative;
        padding: 0;
        margin: 100px 150px 30px 150px;
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        color: black;
    }

    .principal-uno-boton{
        position: relative;
        font-size: 30px;
        margin: 0px 120px;
        padding: 15px;
        background-color: black;
        color: #f2f2f2;
        border-radius: 30px;
        text-align: center;
    }
    .principal-uno-imagen{
        margin: 40px;
        width: 80%;
    } */




/* Pie de pagina */
footer{
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 10px 0;
    background-color: #006092;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 1;
}

.footer-image{
    height: 100px;
    margin-bottom: 1rem;
}

.social-icons-container, .footer-menu-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 1rem;

}

.social-icon{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    border: 1px solid #f2f2f2;
    background-image: url(https://david-um.github.io/Profile/assets/twitter.svg);
    background-position: center;
    background-size: 40%;
    background-repeat: no-repeat;
    margin: 1rem;
}

.social-icon:hover{
    background-color: red;
    filter: invert(1);
}

.social-icon:nth-of-type(2){
    background-image: url(https://david-um.github.io/Profile/assets/github.svg);

}
.social-icon:nth-of-type(3){
    background-image: url(https://david-um.github.io/Profile/assets/linkedin.svg);
    
}
.social-icon:nth-of-type(4){
    background-image: url(https://david-um.github.io/Profile/assets/fav-icon.svg);
    
}

.footer-menu-container{
    list-style-type: none;
    color: #f2f2f2;
    font-size: 18px;
}

.menu-item{
    margin: 1rem 1.5rem;
    cursor: pointer;
    opacity: 0.85;
}

.menu-item:hover{
    opacity: 1;
}

.version {
    font-size: 25px;
    color: #E9EDED  ;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Spline Sans Mono', monospace;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}   

.copyright{
    color: #f2f2f2;
    opacity: 0.3;
    text-align: center;
}

.profile-text {
    display: flex;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Spline Sans Mono', monospace;
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 38px;

    color: #E9EDED;
    white-space: nowrap;
    border-right: 4px solid;
    width: 35ch;

    animation: typing 2s steps(35), blink .5s infinite step-end alternate;
    overflow: hidden;
}

.imagen-perfil {
    border-radius: 50%;
}

@keyframes typing {
    from { width: 0}
}

@keyframes blink {
    50% {border-color: transparent}
}

/* Body */

